
.content .content-main  .input_field:invalid, .content .content-main  .input_field.invalid { 
border-bottom: 2pt solid #a94442;
}

.content .content-main  .input_check:invalid + label:before, .content .content-main  .input_check.invalid + label:before  {
  border-color: #a94442;  
}


.content .content-main .input_field_container {
  position: relative;
}


.content .content-main .input_field_container .input_field_warning{
  visibility:hidden;
  display: block;
  position: absolute;
  font-size: 10px;
  padding:2px;
  color:#a94442;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out ;
  -moz-transition: opacity 0.5s ease-out ;
  -o-transition: opacity 0.5s ease-out ;
  transition: opacity 0.5s ease-out ;

}

.content .content-main .input_field_container.incorrect .input_field_warning{
  visibility:visible;
  opacity: 1;

}


